/node_modules/
/build/
/filecat-linux
/filecat-macos
/filecat-win.exe
/filecat.exe
/.idea/
/dist/
package-lock.json
/data/
/.vs/
filecat-linux-amd64
filecat-win-amd64.exe
filecat-win.zip
filecat-win-amd64.zip
filecat-win-x64.tar.gz
build-exe-linux-x64
/test/

