@import "../_variables.css";

.input {
    border-radius: .1em;
    padding: .5em 1em;
    background: white;
    border: 1px solid rgba(0, 0, 0, 0.1);
    transition: .2s ease all;
    color: #333;
    margin: 0;
}
.input[type="checkbox"] {
    height: 1.5rem;
    cursor: pointer;
}

.input:hover,
.input:focus {
    border-color: rgba(0, 0, 0, 0.2);
}

.input--block {
    margin-bottom: .5em;
    display: block;
    width: 100%;
}

.input--no_border {
    border: none;
    outline: none;
    padding: 8px;
    /*borderRadius: 4px;*/
}

.input--textarea {
    line-height: 1.15;
    font-family: monospace;
    min-height: 10em;
    resize: vertical;
}

.input_left {
    margin-bottom: .5em;
    display: block;
    background-color: #f5f5f5;
    margin-left: .5rem;
}

.input--red {
    background: #fcd0cd;
}

.input--green {
    background: #c9f2da;
}

.input_radio_row {
    display:block;
    margin-bottom: 0.7em;
}
.input_radio {
    width: 2em;
    display:inline;
    cursor: pointer;
}

.input_radio_row i:hover{
    cursor: pointer;
}

.black-tip {
    border-radius: .1em;
    padding: .2em ;
    background: white;
    /*border: 1px solid rgba(0, 0, 0, 0.1);*/
    transition: .2s ease all;
    color: #333;
    margin-top: .3rem;
    display: inline-block;
}
.black-tip:hover {
    background: var(--surfaceSecondary);
}