html, body, #root {
  height: 100%;
  overflow: hidden;  /* 整个文档不允许滚动，高度设置，如果内部div想要滚动需要自己设置*/
}

body {
  font-family: "Roboto", sans-serif;
  padding-top: 4em;
  background-color: #fafafa;
  color: #333333;
}

body.rtl {
  direction: rtl;
}

* {
  box-sizing: border-box;
  /*align-items: center;*/
}

*,
*:hover,
*:active,
*:focus {
  outline: 0;
}

a {
  text-decoration: none;
}
a:hover {
  cursor: pointer;
}
img {
  max-width: 100%;
}

audio,
video {
  width: 100%;
}

.mobile-only {
  display: none !important;
}

.container {
  width: 95%;
  max-width: 960px;
  margin: 1em auto 0;
}

i.spin {
  animation: 1s spin linear infinite;
}

#app {
  transition: 0.2s ease padding;
}

#app.multiple {
  padding-bottom: 4em;
}



body.rtl nav {
  left: unset;
  right: 0;
}



body.rtl .action {
  direction: rtl;
  text-align: right;
}




.breadcrumbs {
  padding-top: 1rem;
  height: 3em;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  width: 100%;
}

.breadcrumbs span,
.breadcrumbs {
  display: flex;
  align-items: center;
  color: #6f6f6f;
}

.breadcrumbs a {
  color: inherit;
  transition: 0.1s ease-in;
  border-radius: 0.125em;
}

body.rtl .breadcrumbs a {
  transform: translateX(-16em);
}

.breadcrumbs a:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.breadcrumbs span a {
  padding: 0.2em;
}

.files {
  position: absolute;
  bottom: 30px;
  width: 100%;
}

.progress {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 3px;
  z-index: 999;
}

.progress div {
  height: 100%;
  background-color: #40c4ff;
  width: 0;
  transition: 0.2s ease width;
}

.break-word {
  word-break: break-all;
}

li:hover {
  cursor: pointer;
}

/* 自定义滚动条整体样式 */
::-webkit-scrollbar {
  /*width: 2px; !* 滚动条宽度，变细 *!*/
  height: 0.7rem;
  width: 0.7rem;
}

/* 滚动条轨道 */
::-webkit-scrollbar-track {
  background: #f1f1f1; /* 轨道背景颜色 */
}

/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
  background: rgb(210, 211, 212); /* 滑块颜色改为蓝色 */
  border-radius: 0; /* 滑块圆角 */

}

/* 滚动条滑块悬停状态 */
::-webkit-scrollbar-thumb:hover {
  background: rgb(210, 211, 212); /* 悬停时滑块颜色 */
}

/* 修改滚动条轨道背景 */
::-webkit-scrollbar-track {
  background-color: transparent;  /* 设置滚动条背景颜色 */
  border-radius: 0; /* 轨道也是直角 */
}
/* 鼠标悬停时，滚动条轨道变成灰色 */
::-webkit-scrollbar-track:hover {
  background: #f0f0f0; /* 灰色 */
}

/* body 体*/
.common-box {
  width: 100%;
  height: 100%;
  /*border: 1px solid #ccc;*/
  /*让元素在菜单头下部*/
  padding-top: 5rem;
  padding-right: .5rem;
  padding-left: .5rem;
}
/*配合元素*/
.common-box-top-left {
  display: flex;
  justify-content: flex-start; /* 水平左 */
  align-items: flex-start;     /* 垂直上 */
}
.common-box-center-x {
  display: flex;
  justify-content: center; /* 水平居中 */
  align-items: flex-start; /* 垂直不居中 */
}
.common-box-center {
  display: grid;
  place-items: center;
}
